JWT_SECRET=flipsaura_wedding_company
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=dvvpsnea0
CLOUDINARY_API_KEY=182815343266997
CLOUDINARY_API_SECRET=h9RZVV58jtEst9ox-MaqmZxpRm4
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=flipsaura187@gmail.com
SMTP_PASS=azbt cqah nbga vxfu
SMTP_FROM=flipsaura187@gmail.com
RAZORPAY_KEY_ID=rzp_test_TgJ5TVnWU1aivu
RAZORPAY_KEY_SECRET=luL174Ryfealvd0SEWDbg48y
MONGODB_URI=mongodb+srv://flipsaura187_db_user:2I9uAQQVdxwbSS5L@cluster0.uldltgr.mongodb.net/Flipsaura-Website?appName=Cluster0

FRONTEND_ORIGIN=http://localhost:5173
NEXT_PUBLIC_SITE_URL=http://localhost:5173
